.menu{
  background-color: white;
  color: black;
  margin-right: 6vw;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 400px;
  border-radius: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0 30px;
}

input, textarea{
    padding: 8px 16px;
    background-color: #F6F6F6;
    border: black solid 1px;
    color: black;
}

textarea{
    width: 300px;
    min-height: 10vh;
    resize: none;
}

.inputheading{
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
}

button{
    margin: 30px 30px;
    border-radius: 0px;
    background-color: #365F75;
    color: white;
}

button:hover{
    background-color: #284858;
    border: solid black 1px;
}

button:active{
    background-color: #1f3a47;
}

.controls{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

.tiny{
    font-size: 10px;
    text-align: center;
    position:absolute;
}

.control:hover{
    background-color: rgb(168, 166, 166);
}